{% extends 'base.html.twig' %}

{% block title %}Hello CsvController!{% endblock %}

{% block body %}

    <div class="uk-section uk-container uk-container-small">
{% if errors %}
    <p class="uk-text-danger">
        {% for error in errors %}
        {{ error|e }} <br/>
        {% endfor %}
    </p>
{% endif %}
<table class="uk-table uk-table-striped">
    <thead>
    <tr>
        <th>internal Invoice ID</th>
        <th>invoice Amount</th>
        <th>due On</th>
        <th><b>Coefficient</b></th>
        <th><b>Invoice sell price</b></th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in data %}
    <tr>
        <td>
            {{ invoice.internalInvoiceId|e }}
        </td>
        <td>
            {{ invoice.invoiceAmount|e }}
        </td>
        <td>
            {{ invoice.dueOn|e }}
        </td>
        <td>
            <b>{{ invoice.display }}</b>
        </td>
        <td>
            <b>{{ invoice.invoiceAmount * invoice.display }}</b>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

    </div>

{% endblock %}
